<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="TIMER" value="30" />
    <add key="UDEMY_TOKEN" value="<Insert your Udemy token here>" />
    <add key="INSTRUCTOR_NAME" value="Scott Duffy" />
  </appSettings>
</configuration>